body{
  background-color: black;
  font-family: Arial;
}
.result{
  color: white;
  font-size: 40px;
  margin-top: 13px;
  margin-bottom:5px;
}
button{
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 23px;
  margin-right: 6px;
  margin-bottom: 5px;
  cursor: pointer;
  color: white;
}
.number-button{
  background-color:rgb(51, 51, 51);
}
.clear-button{
  background-color:rgb(51, 51, 51);
  font-size: 18px;
}
.operation-button{
  background-color: rgb(254, 160, 10);
}
